/* .Content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin-top: 100px;
} */

.content-right {
    /* background-image: url("../../../../public/images/ShopLogo/ShopLogo.png"); */
    /* width: 500px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.content-right > img {
    width: 100%;
    height: auto;
}

.content-left {
    word-break: break-word;
}

.content-left > .product-navigator {
    display: flex;
    align-items: center;
}

.content-left > .product-navigator > div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f71137;
}

.content-left > .product-navigator > span {
    transform: translateX(-20px);
}

.content-left > * {
    margin: 70px;
}
